<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">POST</span>Get all informations!</h3>
            <div class="input-group">
                <code id="rc-a-all" class="rc-a-tryit rc-a-code">api/scrape?url=::URL::</code>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">GET</span>   Title</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/title?url=::URL::</code>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">GET</span>   Description</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/description?url=::URL::</code>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">GET</span>   Links</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/links?url=::URL::</code>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">GET</span>   Images</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/scrape/images?url=::URL::</code>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="api-details">
            <h3><span class="label label-success pull-right">GET</span>   Url History</h3>
            <div class="input-group">
                <code class="rc-a-tryit rc-a-code">api/page_urls</code>
            </div>
        </div>
    </div>
</div>
